*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tableStyle {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%; /* or a specific value like 80% */
  max-width: 1200px; /* Adjust as needed */
  border-collapse: collapse;
}
  
.table th {
  background-color: #e5e7eb; /* Light gray header */
  border: 1px solid #d1d5db;
  text-align: left;
}

.table td {
  border: 1px solid #d1d5db;
  text-align: left;
  height: 30px;
}

@media (max-width: 500px) {
  .table {
      font-size: 12px;
      width: 100% ;
  }
}


.range {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  accent-color: #192231;
  outline: none;
  background-color: #ddd; /* Default background color for the unfilled part */
}